/* input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
} */
.kb {
  display: flex;
  flex-direction: row;
}

.hg-button.hg-height:hover {
  background-color: rgb(182, 181, 181);
}
.simple-keyboard.hg-theme-default.mainTheme {
  border: 10px solid rgb(255, 0, 0, 0);
  border-radius: 10px;
  margin: 0;
  padding: 15px;
  padding-right: 8px;
  width: 100%;
  justify-content: right;
  background-color: rgb(204, 204, 204);
}

.simple-keyboard.hg-theme-default.numTheme {
  border: 10px solid rgb(255, 0, 0, 0);
  border-radius: 10px;
  margin: 0;
  padding: 15px;
  padding-left: 3px;
  width: 100%;
  justify-content: right;
  background-color: rgb(204, 204, 204);
}

.numPad {
  width: 20%;
}
.hg-button.hg-height {
  border-radius: 7px;
  height: 60px;
  font-size: 28px;
  margin: 3px;
}
